<!DOCTYPE html>
<html>

<head>
    <!--meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title> Proyecto - Grupo 92 y 59 </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->

    <!-- para que sea index.php pueda importarlo -->
    <!--link rel="stylesheet" href="styles/mystyles.css"-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <!-- para que una consulta.php pueda importarlo -->
    <!--link rel="stylesheet" href="../styles/mystyles.css"-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>